/* body{
    background-color: #bebebe;
} */
.luoi{
    width: 100%;
    display:block;
    padding:0;
}   
.chieurongluoi{
    max-width: 1200px;
    margin:0 auto;
}
.hang{
    display:flex;
    flex-wrap: wrap;

}
.cot{
    padding-left: 12px;
    padding-right: 12px;
}
.cot0{
    display: none;
}
.cot1{
    flex-shrink: 0;
    flex-grow:0;
    flex-basis: 8.33333%; /* 100% /12*/
    max-width: 8.33333%;
}
.cot2{
    flex:0 0 16.6667%;
    max-width: 16.6667%;
}
.cot3{
    flex:0 0 25%;
    max-width: 25%;
}
.cot4{
    flex-shrink: 0;
    flex-grow:0;
    flex-basis: 33.333%; /* 100% /12*/
    max-width: 33.33333%;
}
.cot5{
    flex:0 0 41.66667%;
    max-width: 41.66667%;
}
.cot6{
    flex:0 0 50%;
    max-width: 50%;
}

.cot7{
    flex:0 0 58.33333%;
    max-width: 58.33333%;
}
.cot8{
    flex:0 0 66.66667%;
    max-width: 66.66667%;
}
.cot9{
    flex:0 0 75%;
    max-width: 75%;
}
.cot10{
    flex:0 0 83.33333%;
    max-width: 83.33333%;
}
.cot11{
    flex:0 0 91.66667%;
    max-width: 91.66667%;
}
.cot12{
    flex:0 0 100%;
    max-width: 100%;
}
@media(min-width:744px) and (max-width:1023px){
    body{
        background-color: rgb(192, 221, 255);
    }
    .luoi{
        width: 100%;
        display:block;
        padding:0;
    }
    .chieurongluoi{
        max-width: 1000px;
        margin:0 auto;
    }
    .hang{
        display:flex;
        flex-wrap: wrap;
    
    }
    .cot{
        padding-left: 8px;
        padding-right: 8px;
    }
    .cot0maytinhbang{
        display: none;
    }
    .cot1maytinhbang{
        flex-shrink: 0;
        flex-grow:0;
        flex-basis: 8.33333%; /* 100% /12*/
        max-width: 8.33333%;
    }
    .cot2maytinhbang{
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .cot3maytinhbang{
        flex:0 0 25%;
        max-width: 25%;
    }
    .cot4maytinhbang{
        flex-shrink: 0;
        flex-grow:0;
        flex-basis: 33.33333%; /* 100% /12*/
        max-width: 33.33333%;
    }
    .cot5maytinhbang{
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .cot6maytinhbang{
        flex:0 0 50%;
        max-width: 50%;
    }
    
    .cot7maytinhbang{
        flex:0 0 58.33333%;
        max-width: 58.33333%;
    }
    .cot8maytinhbang{
        flex:0 0 66.66667%;
        max-width: 66.66667%;
    }
    .cot9maytinhbang{
        flex:0 0 75%;
        max-width: 75%;
    }
    .cot10maytinhbang{
        flex:0 0 83.33333%;
        max-width: 83.33333%;
    }
    .cot11maytinhbang{
        flex:0 0 91.66667%;
        max-width: 91.66667%;
    }
    .cot12maytinhbang{
        flex:0 0 100%;
        max-width: 100%;
    }
}
@media (max-width:743px){
    body{
        background-color:green;
    }
    .luoi{
        width: 100%;
        display:block;
        padding:0;
    }
    .chieurongluoi{
        max-width: 1000px;
        margin:0 auto;
    }
    .hang{
        display:flex;
        flex-wrap: wrap;
    
    }
    .cot{
        padding-left: 4px;
        padding-right: 4px;
    }
    .cot0dt{
        display: none;
    }
    .cot1dt{
        flex-shrink: 0;
        flex-grow:0;
        flex-basis: 8.33333%; /* 100% /12*/
        max-width: 8.33333%;
    }
    .cot2dt{
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .cot3dt{
        flex:0 0 25%;
        max-width: 25%;
    }
    .cot4dt{
        flex-shrink: 0;
        flex-grow:0;
        flex-basis: 33.33333%; /* 100% /12*/
        max-width: 33.33333%;
    }
    .cot5dt{
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .cot6dt{
        flex:0 0 50%;
        max-width: 50%;
    }
    
    .cot7dt{
        flex:0 0 58.33333%;
        max-width: 58.33333%;
    }
    .cot8dt{
        flex:0 0 66.66667%;
        max-width: 66.66667%;
    }
    .cot9dt{
        flex:0 0 75%;
        max-width: 75%;
    }
    .cot10dt{
        flex:0 0 83.33333%;
        max-width: 83.33333%;
    }
    .cot11dt{
        flex:0 0 91.66667%;
        max-width: 91.66667%;
    }
    .cot12dt{
        flex:0 0 100%;
        max-width: 100%;
    }
}